<!DOCTYPE html>
<html lang="fr">
<head th:replace="head/head :: head('SpringBoard - ' + ${artist.artistName})">
  <body class="bg-dark text-white">
    <header th:include="@{/header/navbar}"></header>
    <main>
      <h1
        class="text-center m-auto pt-5   text-danger"
        th:text="${artist.artistName}"
      ></h1>
      <section class="container-fluid mt-5 mb-5 pt-3">
        <div class="row">
          <!-- Left part -->
          <article th:replace="@{/artistPage/leftPart}"></article>
          <!-- right part -->
          <aside th:replace="@{/artistPage/rightPart}"></aside>
        </div>
      </section>
    </main>
    <footer th:replace="@{footer/footer}"></footer>
  </body>
</html>
