<!-- FOOTER -->

<footer class="bg-dark pb-3">
    <ul class="reseauxsociaux">
        <li><a href="https://github.com/Roland-Foucher" target="_blank" class="fab fa-github-square"></a></li>
        <li><a href="https://gitlab.com/roland_foucher" target="_blank" class="fab fa-gitlab"></a></li>
        <li><a href="https://www.linkedin.com/in/roland-foucher-4508ba213/" target="_blank" class="fab fa-linkedin"></a></li>
        
    </ul>
    <div class="copyright">&copy; 2022 | Roland Foucher | All Rights Reserved</div>
</footer>
<script th:replace="@{footer/script}"></script>