<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta th:replace="@{/head/meta}" />
    <title>springboard</title>
    <link th:replace="@{/head/link}" />
  </head>
  <body class="bg-dark">
    <header th:include="@{/header/navbar}"></header>
   
    <main class="mx-4">
      <article th:replace="@{/artistCard/artistCard}" ></article>
    </main>

    <footer th:replace="@{footer/footer}"></footer>
    <script th:replace="@{footer/script}"></script>
  </body>
</html>
