<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
    <!-- BootStrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <main>
      <h1 class="text-center">Créer votre page artiste ! 🎸</h1>
      <article>
        <form class="p-5" th:action="@{/user/newArtistPage/upload}" method="POST" enctype="multipart/form-data">
          <div class="container-fluid m-3">
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="artistName">Nom de scene</label>
                <input
                  type="text"
                  class="form-control"
                  id="artistName"
                  placeholder="Metallica"
                  th:field="${artist.artistName}"
                  required
                />
              </div>
              <div class="col-md-3 mb-3">
                <label for="webSite">site web</label>
                <input
                  type="text"
                  class="form-control"
                  id="webSite"
                  placeholder="Metallica.com"
                  th:field="${artist.webSite}"
                  required
                />
              </div>
              <div class="col-md-3 mb-3">
                <label for="siteWeb">Contact</label>
                <input
                  type="text"
                  class="form-control"
                  id="artistName"
                  placeholder="Metallica@gmail.fr"
                  th:field="${artist.contact}"
                  required
                />
              
              </div>
              <div class="col-md-3 mb-3">
                <label for="style">Style</label>
                <select
                  class="form-control"
                  id="style"
                  th:field="${artist.musicalStyleId}"
                  required
                >
                  <option
                    th:each=" musicalStyle : ${musicalStyles}"
                    th:value="${musicalStyle.id}"
                    th:text="${musicalStyle.style}"
                  ></option>
                </select>
              </div>
            </div>
          </div>
          <div class="container-fluid m-3">
            <div class="row">
              <div class="col-md-3">
                <label for="socialUrl1">Reseau social 1 - URL et NOM</label>
                <input
                  type="text"
                  class="form-control"
                  id="socialUrl1"
                  placeholder="Metallica.facebook.com"
                  th:field="${artist.socialNetworkList[0].url}"
                 
                />
                <input
                  type="text"
                  class="form-control mt-2"
                  id="socialUrl1"
                  placeholder="facebook"
                  th:field="${artist.socialNetworkList[0].name}"
                  
                />
              </div>
              <div class="col-md-3">
                <label for="socialUrl1">Reseau social 2 - URL et NOM</label>
                <input
                  type="text"
                  class="form-control"
                  id="socialUrl1"
                  placeholder="Metallica.facebook.com"
                  th:field="${artist.socialNetworkList[1].url}"
                />
                <input
                  type="text"
                  class="form-control mt-2"
                  id="socialUrl1"
                  placeholder="facebook"
                  th:field="${artist.socialNetworkList[1].name}"
                />
              </div>
              <div class="col-md-3">
                <label for="socialUrl1">Reseau social 3 - URL et NOM</label>
                <input
                  type="text"
                  class="form-control"
                  id="socialUrl1"
                  placeholder="Metallica.facebook.com"
                  th:field="${artist.socialNetworkList[2].url}"
                />
                <input
                  type="text"
                  class="form-control mt-2"
                  id="socialUrl1"
                  placeholder="facebook"
                  th:field="${artist.socialNetworkList[2].name}"
                />
              </div>
              <div class="col-md-3">
                <label for="socialUrl1">Reseau social 4 - URL et NOM</label>
                <input
                  type="text"
                  class="form-control"
                  id="socialUrl1"
                  placeholder="Metallica.facebook.com"
                  th:field="${artist.socialNetworkList[3].url}"
                />
                <input
                  type="text"
                  class="form-control mt-2"
                  id="socialUrl1"
                  placeholder="facebook"
                  th:field="${artist.socialNetworkList[3].name}"
                />
              </div>
            </div>
            <div class=" mb-3">
              <label for="siteWeb">Ville</label>
              <input
                type="text"
                class="form-control"
                id="artistName"
                placeholder="Metallica@gmail.fr"
                th:field="${artist.city}"
                required
              />
            <div class="container-fluid m-3">
              <div class="row justify-content-around">
                <div class="col-md-5">
                  <div>
                    <label for="bio" class="form-label">Présentation</label>
                    <textarea
                      class="form-control"
                      id="bio"
                      rows="6"
                      th:field="${artist.bio}"
                      required
                    ></textarea>
                  </div>

                  <div class="mb-3">
                    <label for="cover" class="form-label">Photo</label>
                    <input
                      class="form-control"
                      type="file"
                      id="cover"
                      name="imageFile"
                    />
                  </div>
                  
                </div>
                <div class="col-md-5">
                  <div class="mb-3">
                    <label for="audio1Name" class="form-label"
                      >Nom Titre 1</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="audio1Name"
                      placeholder="Master of Puppets"
                      th:field="${artist.trackList[0].name}"
                    />
                    <label for="audio1" class="form-label">Piste Audio 1</label>
                    <input
                      class="form-control"
                      type="file"
                      id="audio1"
                      name="audioFiles"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="audio2Name" class="form-label"
                      >Nom Titre 2</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="audio2Name"
                      placeholder="Master of Puppets"
                      th:field="${artist.trackList[1].name}"
                    />
                    <label for="audio2" class="form-label">Piste Audio 2</label>
                    <input
                      class="form-control"
                      type="file"
                      id="audio2"
                      name="audioFiles"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="audio2Name" class="form-label"
                      >Nom Titre 3</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="audio3Name"
                      placeholder="Master of Puppets"
                      th:field="${artist.trackList[2].name}"
                    />
                    <label for="audio3" class="form-label">Piste Audio 3</label>
                    <input
                      class="form-control"
                      type="file"
                      id="audio3"
                      name="audioFiles"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="audio2Name" class="form-label"
                      >Nom Titre 4</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="audio4Name"
                      placeholder="Master of Puppets"
                      th:field="${artist.trackList[3].name}"
                    />
                    <label for="audio4" class="form-label">Piste Audio 4</label>
                    <input
                      class="form-control"
                      type="file"
                      id="audio4"
                      name="audioFiles"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class=" ">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  th:field="${artist.isOnArtistList}"
                  id="checkContact"
                  required
                />
                <label class="form-check-label" for="checkContact">
                  J'accepte que mon contact apparaisse dans la liste des
                  artistes
                </label>
              </div>

              <div class="">
                <button class="btn btn-primary" type="submit">
                  Valider la page
                </button>
              </div>
            </div>
          </div>
        </form>
      </article>
    </main>

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
