<!DOCTYPE html>
<html lang="en">
  <head>
    <meta th:replace="@{/head/meta}" />
    <title>Register</title>
    <link th:replace="@{/head/link}" />
  </head>
  <body class="bg-dark">
    <header th:include="@{/header/navbar}"></header>
    <div class="card w-75 m-auto bg-dark text-white" >
      <div class="card-body">
        <p th:if="${feedback}" th:text="${feedback}"></p>
        <form th:action="@{/register}" method="post">
          <label for="email">Nom</label>
          <input
            th:classappend="${#fields.hasErrors('user.lastName')}?'is-invalid'"
            type="text"
            required
            id="email"
            class="form-control mb-3 bg-light"
            th:field="${user.lastName}"
          />
          <p class="invalid-feedback" th:errors="${user.lastName}"></p>
          <label for="email">Prenom</label>
          <input
            th:classappend="${#fields.hasErrors('user.firstName')}?'is-invalid'"
            type="text"
            required
            id="email"
            class="form-control mb-3 bg-light"
            th:field="${user.firstName}"
          />
          <p class="invalid-feedback" th:errors="${user.lastName}"></p>
          <label for="email">Email :</label>
          <input
            th:classappend="${#fields.hasErrors('user.email')}?'is-invalid'"
            type="email"
            required
            id="email"
            class="form-control mb-3 bg-light"
            th:field="${user.email}"
          />
          <p class="invalid-feedback" th:errors="${user.email}"></p>
          <label for="password">Password :</label>
          <input
            th:classappend="${#fields.hasErrors('user.password')}?'is-invalid'"
            type="password"
            required
            minlength="4"
            id="password"
            class="form-control mb-3 bg-light"
            th:field="${user.password}"
          />
          <p class="invalid-feedback" th:errors="${user.password}"></p>

          <button class="btn btn-secondary mt-3">Register</button>
        </form>
      </div>
    </div>
  </body>
</html>
