<!DOCTYPE html>
<html lang="fr">
  <head th:replace="head/head :: head('SpringBoard')"></head>
  <body class="bg-dark">
    <header th:include="@{header/navbar}"></header>

    <main class="mx-4 text-white">
      <div class=" p-5 text-center ">
          <h2> Voulez-vous vous déconnecter ?</h2>
        <form th:action="@{/logout}" method="post">
          <button type="submit" class="btn btn-danger mb-5">
            Se Déconnecter
          </button>
        </form>
      </div>
    </main>

    <footer th:replace="@{footer/footer}"></footer>
  </body>
</html>
