<!-- audio tracks -->
<div class="container">
  <div class="row">
    <div class="mb-3 col-md-6" th:each="track, itemStat : ${artist.trackList}">
      <label for="audioName" class="form-label">Nom Titre</label>
      <input
        type="text"
        class="form-control"
        id="audioName"
        placeholder="Master of Puppets"
        th:field="${artist.trackList[__${itemStat.index}__].name}"
        accept="audio/*"
      />
      <label for="audio" class="form-label">Piste Audio</label>
      <input class="form-control" type="file" id="audio" name="audioFiles" />
    </div>
  </div>
</div>
