<!DOCTYPE html>
<html lang="fr">
<head th:replace="head/head :: head('SpringBoard - Nouvel Artist')"></head>

  <body class="bg-dark text-white">
    <header th:include="@{/header/navbar}"></header>
  <body class=" ">
    <main>
      <h1 class="text-center ">Créer votre page artiste ! 🎸</h1>
      <article>
        
        <h2 class="text-danger" th:if="${savePageError}" th:text="${savePageError}"></h2>
        <form class="p-5" th:action="@{/user/newArtistPage/upload}" method="POST" enctype="multipart/form-data" novalidate>
          
          <!-- bloc information -->
          <h3>Vos Informations <span class="text-danger">*</span></h3>
          <div class="container-fluid">
            <div class="row">
              
              <!-- info Block -->
              <div class="card-body  col-md-5 mx-3" th:include="@{/newArtistPage/info}"></div>
              <!-- socialNetworks -->
              <div class="card-body col-md-5 mx-3" th:include="@{/newArtistPage/socialNetworks}"></div>
            </div>
          </div>
          <!-- bloc audio tracks -->
          <h3 class="mt-5">Vos pistes audio <span class="text-danger">*</span></h3>
          <p>Merci d'enregistrer au moins une piste avec son titre </p>
          <div th:replace="@{/newArtistPage/audioTracks}"></div>
            

          <!-- bloc cover -->
          <h3 class="mt-5">Votre photo de page <span class="text-danger">*</span></h3>
          <div class="container">
            <div class="row">
              <div th:replace="@{/newArtistPage/cover}"></div>
            </div>
          </div>
            

        </form>
      </article>
    </main>

    <footer th:replace="@{footer/footer}"></footer>
  </body>
</html>
